#----------------- START required config for haproxui -----------------#
defaults
    timeout client 10s
    timeout server 10s
    timeout connect 10s

global
   lua-load instance_manager.lua

cache hydra_ui_cache
  total-max-size 30
  max-age 1800

userlist hydra_ui_users
  user admin insecure-password testing

# Load the socket command lua script to process http requests.
# THIS NEEDS TO HAVE A FIREWALL OR OTHER ACCESS CONTROL IN FRONT OF IT!
# A good method to protect this is to bind *only* to 127.0.0.1, and then
# use ssh tunneling from the machine where you want to use haproxui.
listen hydra_ui
    mode http
    bind :10000
    acl authenticated http_auth(hydra_ui_users)
    acl lua_handling path_beg /api
    http-request deny unless lua_handling authenticated || lua_handling METH_OPTIONS || !lua_handling
    http-request use-service lua.instance_manager if lua_handling
    http-response set-header Allow-Origin *
    http-response set-header Access-Control-Allow-Headers "Authorization, Content-Type, Accept"
    http-response set-header Access-Control-Allow-Methods "POST, GET, OPTIONS"
    
    http-request cache-use hydra_ui_cache
    http-request set-header Host hydra.wildbit.com
    server assets hydra.wildbit.com:443 check-sni str(hydra.wildbit.com) sni str(hydra.wildbit.com) ssl verify none

#------------------ END required config for haproxui ------------------#

#------------------ START example configs ------------------#

# These are example configs to example.com so that
# we have something to look at in our interfaces.
listen example_forward_listener
    mode http
    bind :10001
    http-request set-header Host example.com
    server server1 example.com:80
    server server2 example.com:80 backup

frontend example_forward_frontend
    mode http
    bind :10002
    default_backend backend_servers

backend backend_servers
    mode http
    http-request set-header Host example.com
    server server1 not-real.127.0.0.1.xip.io:80 check inter 100000
    server server2 example.com:80 backup

# This is the default stats view, so that we can see
# what is reported in the normal stats view.
listen stats
    bind  0.0.0.0:10003
    mode            http
    log             global
    stats enable
    stats show-node
    stats show-legends
    stats admin if TRUE
    stats uri  /
#------------------- END example configs -------------------#
